_abc*
sandbox/
.stack-work/
dist-new/
*.log
.curname
core
*.hi
*.o
*~
.ghci
activate
building
checking
contest.acc.json
executing
ghcing
hie.yaml
initializing
LICENSE
package.yaml
resetting
setting
sample-*.in
sample-*.out